<% trackers = @project.trackers.map do |tracker| [tracker.id, tracker.name] end %>
<%= form_tag 'save_default_tracker' do %>
    <p>
      <label><%= l(:label_todos_default_tracker) %></label>
      <select name="settings[default_tracker]">
        <option>-- choose --</option>
        <% for k,v in trackers %>
            <option value="<%=k%>" <%= k.to_s == @project.default_tracker.to_s ? 'selected="true"':''%>><%=v%></option>
        <% end %>
      </select>
    </p>
    <%= button_tag :save %>
<% end %>